{{#bs-panel heading="Latest News" type="success" class="panelNoPadding"}}
	<ul class="list-group">
		{{#each news}}
			<li class="list-group-item">
				{{#unless read}}
				  <span class="badge">unread</span>
				{{/unless}}
				<h4>{{title}}</h4>
				<em>published:</em> {{published}}
			</li>
		{{/each}}
	</ul>
{{/bs-panel}}