<form id="importedMemberForm">
<ul class="list-group checkboxList">
	{{#each members}}
		<li class="list-group-item">
			<label class="control-label">
				<input type="checkbox" name="conceptId" {{bind-attr value='referenceComponentId'}} checked> 
				{{description}}
			</label>
		</li>
	{{/each}}
</ul>
</form>