{{#bs-panel heading=title type="info" class="panelNoPadding"}}

	<ul class="list-group">
		{{#each refsets}}
			<li class="list-group-item">
				{{#if published}}
				  <span class="badge">{{date-format publishedDate}}</span>
				{{/if}}
				<h4>{{description}}</h4>
				<em>created:</em> {{date-format created}}<br>
				<em>by:</em> {{createdBy}}<br>
				
				{{#link-to 'refsets.refset' id}}<button class="btn btn-primary right">view</button>{{/link-to}}
			</li>
		{{/each}}
	</ul>

{{/bs-panel}}