{{#bs-panel heading=title type="info" class="panelNoPadding"}}

	<ul class="list-group">
		{{#each refsets}}
			<li class="list-group-item">
				{{#link-to 'refsets.refset' id}}<button class="btn btn-primary right">view</button>{{/link-to}}
				<h4>{{description}}</h4>
				<em>created on:</em> {{date-format created}}<br>
				<em>by:</em> {{createdBy}}<br>
				{{#if published}}
					<em>published on:</em> {{date-format publishedDate}}<br>
				{{/if}}
			</li>
		{{/each}}
	</ul>

{{/bs-panel}}