nav.loginRegisterButtons {
  width: 250px;
  padding-top: 10px;
  float: left;
}
nav.loginRegisterButtons .progress {
  margin-bottom: 0;
}
nav.loginRegisterButtons .warningText {
  color: red;
}
/* Dashboard panels */
.dashboard .panelNoPadding .panel-body {
  padding: 0;
}
.dashboard .panelNoPadding .panel-body .list-group {
  margin: 0;
}
.list-group-item {
  overflow: auto;
  clear: right;
}
/* Panels */
.RefsetPanel .error {
  color: #c9302c;
}
/* Login / Registration Forms */
.modal-header img {
  display: inline;
}
#loginForm input {
  width: 49%;
}
#loginForm .loading,
#loginForm .error {
  margin-top: 20px;
  margin-bottom: 20px;
}
#loginForm .forgetPasswordLink {
  margin-top: 20px;
}
#loginForm .autoLogoutInfo {
  color: #ec971f;
}
#registrationForm input {
  width: 100%;
  margin-bottom: 20px;
}
#registrationForm textarea {
  height: 150px;
}
#toolsMenu ul {
  display: table;
  list-style: none;
}
#toolsMenu ul li {
  display: table-cell;
  padding-right: 20px;
}
/* Upload Refsets */
.fileUploadDropZone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  color: #bbb;
  padding: 25px;
  text-align: center;
}
#refsetUploadFileInput {
  border: none;
  height: inherit;
  width: 100%;
  margin-bottom: 20px;
}
/* bootstrap */
.myCheckboxes {
  height: inherit;
  width: 30px;
  float: right;
}
.mylabels {
  text-align: left;
  padding-top: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
}
.mylabels span {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 30px;
}
.myForm .control-label {
  text-align: left;
  padding-top: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
}
.myForm .control-label span {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 30px;
}
.myForm input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
}
.myForm select {
  width: 100%;
  height: inherit;
}
.myForm input[type="checkbox"] {
  height: inherit;
  width: 30px;
  float: right;
}
.myForm .label {
  font-style: italic;
  color: #ec971f;
}
.myForm .content {
  font-weight: normal;
}
.checkboxList .control-label {
  text-align: left;
  padding-top: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
}
.checkboxList .control-label span {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 30px;
}
.checkboxList input[type="checkbox"] {
  height: inherit;
  width: 30px;
  float: right;
  float: left;
  margin-right: 10px;
}
.checkboxList .disabled {
  color: #c9302c;
}
.checkboxList .unpublishedMember {
  background-color: #eefbee;
}
.checkboxList .referenceComponentId {
  font-size: 10px;
  font-style: italic;
  float: right;
}
.checkboxList .publishDate {
  font-size: 10px;
  font-style: italic;
}
.checkboxList .warning {
  color: #c9302c;
}
#logoutWarningModel .heading {
  font-size: 18px;
  margin-bottom: 20px;
}
#logoutWarningModel .timer {
  color: #c9302c;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.right {
  float: right;
}
