<div class="row">
	
	<div class="col-md-9">
	
		<h1>Browse Reference Sets</h1>
		{{refsets-list refsets=refsets moduleTypes=moduleTypes refsetTypes=refsetTypes componentTypes=componentTypes languageTypes=languageTypes title="Inactive Refsets" published=true}}
			
	</div>
	
	<div class="col-md-3">
		{{refsets-list-filter}}
	</div>
</div>

