<div class="dashboard">
	<div class="colMed inner">
		{{#bs-panel heading="Refset Import" type="info" class="panelNoPadding"}}

			<div id="fileUploadDropZone" class="fileUploadDropZone">Drop files here</div>
			
			<input type="file" id="refsetUploadFileInput" />
			<script type="text/javascript">
				function readSingleFile(evt)
				{
					evt.stopPropagation();
					evt.preventDefault();
					
					if (typeof evt.dataTransfer === "undefined")
						var f = evt.target.files[0];
					else	
						var f = evt.dataTransfer.files[0];
			
					if (f) 
					{
						var r = new FileReader();
						
						r.onload = function(e) 
						{ 
							var contents = e.target.result;			
					//		Ember.Logger.log(contents); 

							var controller = Refset.__container__.lookup("controller:refsets.upload");
							controller.send('uploadMemberList',contents);
						}
						
						r.readAsText(f);
					} 
					else 
					{ 
						alert("Failed to load file");
					}
				}
				
				function handleDragOver(evt) 
				{
					evt.stopPropagation();
					evt.preventDefault();
					evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
				}
				
				document.getElementById('refsetUploadFileInput').addEventListener('change', readSingleFile, false);
				document.getElementById('fileUploadDropZone').addEventListener('dragover', handleDragOver, false);
				document.getElementById('fileUploadDropZone').addEventListener('drop', readSingleFile, false);
			</script>

		{{/bs-panel}}

	</div>
	
	<div class="colMed inner">
		{{member-list members=model title='Members to be imported'}}
	</div>
</div>

