<div class="dashboard">
	<div class="colMed inner">
		{{latest-news news=model}}
	</div>
	<div class="colMed inner">
		Selected news article will show here...
	</div>
</div>

{{#if Ember.SHOW_DEV_HINTS}}
	<i>(templates/news.hbs)</i>
{{/if}}