<div id="toolsMenu">
 	<ul>
	 	 <li>{{#link-to 'refsets'}}Browse Refsets{{/link-to}}</li>
		 {{#if user.token}}<li>{{#link-to 'refsets.new'}}New Refset{{/link-to}}</li>{{/if}}
	 </ul>
</div>
 
{{outlet}}