<div id="registrationForm" class="RefsetPanel">
	<form>		
		{{input value=regname 			type="text" 	placeholder="Your Name" class="form-control"}}
		{{input value=regorg 			type="text" 	placeholder="Your organisation" class="form-control"}}
		
		{{input value=reguser 			type="text" 	placeholder="Already registered with for other IHTSDO tools? Enter your existing login ID here..." class="form-control"}}
		
		{{textarea value=regnotes placeholder="Please tell us why you would like access to the Reference Set Management Service" class="form-control"}}
	</form>
</div>